
{{#if notas}}
       
    <div class="row border p-1 bg-light">
        <div class="col-2 d-none d-md-block text-center">Chave</div>
        <div class="col text-center">Título</div>
        <div class="col-2  d-none d-sm-block text-center">Alterar Status</div>
    </div>
    {{#each notas}}
        <div class="row border p-1">
            {{#if this.lida}}
                <div class="col-2 d-none d-md-block">{{this.chave}}</div>
                <div class="col"><a href="/nota/consulta/{{this.chave}}" class="limpo">{{this.titulo}}</a></div>
                <div class="col-2 d-none d-sm-block text-center"><a href="/nota/naolida/{{this.chave}}" class="limpo"><i class="bi bi-envelope-fill"></i></a></div>
            {{else}}
                <div class="col-2 d-none d-md-block"><b>{{this.chave}}</b></div>
                <div class="col"><b><a href="/nota/consulta/{{this.chave}}" class="limpo">{{this.titulo}}</a></b></div>
                <div class="col-2 d-none d-sm-block  text-center"><a href="/nota/lida/{{this.chave}}" class="limpo"><i class="bi bi-envelope-open"></i></a></div>
            {{/if}}
        </div>
    {{/each}}
    
{{else}}
    <br><br>
    <h4><i>Ainda não há nenhuma nota cadastrada.</i></h4>
    <p><a href="/nota/cria">Cadastre a sua primeira nota.</a></p>
{{/if}}